<!DOCTYPE HTML>
<html lang="pt">
<title>Narrative prototyping environment</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



{% load static %}

 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="static/style.css">
<style>
    body,h1,button {font-family: Arial, Helvetica, sans-serif; background:white}
    h1 {letter-spacing: 4px}
    button {letter-spacing: 2px}
    
    h2,p  {letter-spacing: 1px; font-family: Arial, Helvetica, sans-serif}
    .w3-row-padding img {margin-bottom: 12px}
    </style>

<body  style="font-family: Arial, Helvetica, sans-serif;" > 
        <header class="w3-display-container w3-content w3-center" style="max-width:1500px; font-family: Arial, Helvetica, sans-serif;">
    
            <img class="w3-image" src="static/images/logo4.png"  width="1500" >
        
            <!-- Header -->
            <div class="w3-display-middle w3-padding-large w3-wide w3-white w3-center">
                <h1>Social Media</h1>
                <h1 class="w3-large">Narrative prototyping environment</h1>

                <div class="w3-padding-32 ">
                <div class="w3-bar w3-border ">
                    <a href="home" class="w3-bar-item w3-button" style="font-family: Arial, Helvetica, sans-serif">Home</a>
                    <a href="participate" class="w3-bar-item w3-button ">Participate</a>
                    <a href="contact" class="w3-bar-item w3-button">Contact</a>
                    <button class="w3-bar-item w3-button " onclick="document.getElementById('about').style.display='block'">About</button> 
                </div>
                </div>

            </div>
        </header>

        
       
           
        {% block content %} 
	




        {% endblock %}

    

        	<!-- Footer -->
        <footer class="w3-display-container w3-white w3-center"> 
            <img class="w3-image" src="static/images/footer.png">
               <div class="w3-display-middle w3-center">
                <a href="https://www.eng.uminho.pt/pt"><img id = "uminho" src = "{% static 'images/engUm_logo.png' %}" width=90px /></a>
                <a href="http://islab.di.uminho.pt"><img id = "islab" src = "static/images/ISlab.png" width=80px /></a>
                <p style="font-size: 10px">&copy; University of Minho - 2021/2022</p>
               </div>

               
        </footer>


            <!-- This work page-->
            <div id="about" class="w3-modal w3-animate-opacity">
                <div class="w3-modal-content" style="padding:32px;  font-family: Arial, Helvetica, sans-serif">
                  <div class="w3-container w3-white">
                    <i onclick="document.getElementById('about').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
                    <h2 class="w3-center">About this work</h2>
                    <p style="text-align: justify;text-justify: inter-word; font-family: Arial, Helvetica, sans-serif">
                        This platform is part of an academic project, taking place at the <b>University of Minho - Portugal</b></p>
                    
                        <p style="text-align: justify;text-justify: inter-word; font-family: Arial, Helvetica, sans-serif"> 
    
                        The research hypothesis that motivated this work was to test whether posts designed with emotion and personality
                         increase their engagement. </p>
                         <p style="text-align: justify;text-justify: inter-word; font-family: Arial, Helvetica, sans-serif"> 
                         This environment is designed to simulate the interface of a social network microblog and 
                         allow the collection of data to understand human opinion on posts made autonomously.
                         Another goal is to gain insights into how information is disseminated on Twitter. 
                         The data collected will allow us to answer the following questions:</p>
                         <ul>
                         <p style="text-align: justify;text-justify: inter-word; font-family: Arial, Helvetica, sans-serif"> Is it possible to find a pattern for how a tweet goes viral? </p> 
                         <p style="text-align: justify;text-justify: inter-word; font-family: Arial, Helvetica, sans-serif"> What factors influence how Twitter users interact with a tweet?</p> 
                        </ul>
                </div>
              </div>

        

    </body>
</html>