<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<body  class="lightmode ">
  {% load static %}
  {% load random %}
 
	

	<div class="nav" id="nav">
		<ul class="navbar-nav">
			<li>
				<!--i class="fa fa-twitter"></i><span class="link-text close" onclick="closeNav()">X</span -->
				<img src="{% static 'images/bird.png' %}" class="w3-right w3-circle w3-margin-right" style="width:80px"></img>
			</li>

			<li><a href="#" onclick="document.getElementById('uncreated_section').style.display='block'"><i class="fa fa-home"></i>Home</a></li>
			<li><a href="#"onclick="document.getElementById('uncreated_section').style.display='block'"><i class="fa fa-rocket"></i><span>Explore</span class="link-text"></a></li>
			<li><a href="#" onclick="document.getElementById('uncreated_section').style.display='block'"><i class="fa fa-bell"></i><span class="link-text">Notifications</span></a></li>
			<li><a href="#" onclick="document.getElementById('uncreated_section').style.display='block'"><i class="fa fa-twitter"></i><span class="link-text">Messages</span></a></li>
			<li><a href="#" onclick="document.getElementById('uncreated_section').style.display='block'"><i class="fa fa-bookmark"></i><span class="link-text">Bookmarks</span></a></li>
			<li><a href="#" onclick="document.getElementById('uncreated_section').style.display='block'"><i class="fa fa-list"></i><span class="link-text">Lists</span></a></li>
			<li><a href="#" onclick="document.getElementById('uncreated_section').style.display='block'"><i class="fa fa-user"></i><span class="link-text">Profile</span></a></li>
			<li><a href="#" onclick="document.getElementById('uncreated_section').style.display='block'"><i class="fa fa-arrow-up"></i><span class="link-text">More</span></a></li>
			<li class="link-tweets"><a href="#" onclick="document.getElementById('uncreated_section').style.display='block'"><i class="fa fa-plus"></i><span class="link-text">Cheep</span></a></li>

		</ul>		
		
	</div>


 <div class="second" id="second">

		 <div class="second-tweet">
		 	  <div class="tweet-header">
        		<h4>Home</h4>
				<button class="btns" onclick="openNav()">☰ </button>
     		 </div>

		  {% if config.space_for_creat_post != False %}
     	  <div class="add-tweet">
     		 	<span class="add-tweet-image">
			<img src= "static/users/default_user.png"  alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <!--img src="{% static 'users/images/img_avatar1.png' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"-->
          </span>
		 	 <div>
     		 	<form action="/add_post_by_user" method="post"> {% csrf_token %}
     		 		<div>
                        <textarea  rows="4" cols="70" name = "post_by_user"  maxlength="280" placeholder =" What's happening ?"></textarea>
     		 		</div>
     		 		<div>
     		 			<ul class="add-tweet-icon">
							  <input type="submit" value = "Cheep" class="link-tweet" ><span></span></li>
     		 			</ul>
						
     		 		</div>
     		 	</div>
				</form>
     		 </div>
			{% endif %} 
          


     		<!--Twetts by user-->
	

		{% for tweet in posts_by_user reversed %}
		<div class="actual-tweet">
			<span class="add-tweet-image">
				<img src = "static/users/default_user.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
		</span>
			<div class="tweet-content">
					<a href="#">You</a> <span class="side-name"> | 2 hrs </span>
					<p>{{tweet.content}}</p>
					<div class="w3-center">
					<button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" onclick="document.getElementById('irrelevant_option').style.display='block'"><i class="fa fa-comment"> 0 </i>  </button>    
					<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="document.getElementById('irrelevant_option').style.display='block'"><i class="fa fa-retweet">  0</i>  </button> 
					<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="document.getElementById('irrelevant_option').style.display='block'"> <i class="fa fa-heart"> 0</i> </button> 
					<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="document.getElementById('irrelevant_option').style.display='block'"><i class="fa fa-share"> 0</i></button> 
					<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="document.getElementById('irrelevant_option').style.display='block'" ><i class="fa fa-ban">  0</i></button>
					<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="document.getElementById('irrelevant_option').style.display='block'"><i class="fa fa-user-plus"> 0</i> </button> 

				</div>
			</div>
				
		</div>
		{% endfor %}
			<!--Twetts narratives-->

        {% for tweet_text, hashtags, images, num, name, photo in posts%}
     		 	<div class="actual-tweet">
	     		 	<span class="add-tweet-image">
              			<img src = "{{photo}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            		</span>
	     		 	<div class="tweet-content">
	     		 			<a href="#">{{name}}</a> <span class="side-name"> | 14 hrs </span>
	     		 			<p id = "post_content">{{tweet_text.fields.content}} 
							  {% for h in hashtags %}
							   <samp class="w3-text-blue" >#{{h}}  </samp>
							  {% endfor %}
							</p>
							  {% for img in images %}
							  	<p><img src = "static/tweetsImages/{{img}}" style="width:60px"></p>

							  {% endfor %}

	     		 			<div class="w3-center">
								{% if config.reply_button != False %}  <button type="button" id="{{tweet_text.pk}}" onclick="update_session_comment_post(this.id); document.getElementById('comment').style.display='block'; increment(this.id);" class="w3-button w3-theme-d2 w3-margin-bottom " ><i class="fa fa-comment" id="{{tweet_text.pk}}-comment-num">  {{ num.0}} </i>  </button>    {% endif %} 
								{% if config.retweet_button != False %}  <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" id = "{{tweet_text.pk}}-retweet" onclick="interaction(this.id); increment(this.id)"><i class="fa fa-retweet" id="{{tweet_text.pk}}-retweet-num">  {{ num.1}} </i>  </button> {% endif %}
								{% if config.like_button != False %}  <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" id = "{{tweet_text.pk}}-like" onclick="interaction(this.id); increment(this.id)" > <i class="fa fa-heart" id="{{tweet_text.pk}}-like-num">  {{ num.2}}</i> </button> {% endif %}
								{% if config.share_button != False %}  <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" id = "{{tweet_text.pk}}-share" onclick="interaction(this.id); increment(this.id)"><i class="fa fa-share" id="{{tweet_text.pk}}-share-num">  {{ num.3}}</i></button> {% endif %}
								{% if config.block_button != False %}  <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" id = "{{tweet_text.pk}}-block" onclick="interaction(this.id); increment(this.id)" ><i class="fa fa-ban" id="{{tweet_text.pk}}-block-num">  {{ num.4}}</i></button> {% endif %}
								{% if config.follow_button != False %}  <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" id = "{{tweet_text.pk}}-follow" onclick="interaction(this.id); increment(this.id)"><i class="fa fa-user-plus" id="{{tweet_text.pk}}-follow-num">  {{ num.5}}</i> </button> {% endif %}
				
                			</div>
	     		 	</div>
	     		 		
     		 	</div>
        {% endfor %}
			
     		</div>

		<div class="second-trend">
		 	<div class="search">
		 		<i class="fa fa-search searchicon" onclick="document.getElementById('irrelevant_option').style.display='block'"> </i>
		 		<input type="text" style="color: black;" id="search-bar" placeholder="Search chirp">
		 	</div>
		 	<div class="trend">
   				<h4 class="h4-title">Trends for you</h4>
            <div class="trend-div">
   			 	<div class="left-20"> 
    			<a href="#"  onclick="document.getElementById('irrelevant_option').style.display='block'"><small class="trend-title">Trending in Portugal</small></a>
      			<a href="#">
       			<p class="trend-list">Lorem ipsum</p>
     		    </a>
             <a href="#" onclick="document.getElementById('irrelevant_option').style.display='block'" ><small class="trend-title">Trending in Portugal</small></a>
             <a href="#" >
              <p class="trend-list">Lorem ipsum</p>
              </a>
				</div>
            </div>
   			</div>

        <div class="help">
        <p><button class="w3-button w3-black w3-round-xxlarge" onclick="document.getElementById('Help').style.display='block'">Do you need help?</button></p>
      </div>
		   
		 </div>
	
		 <div class="bottom-menu">
			<ul>
				<li><i class="fa fa-home" style="color: var(--red);"></i></li>
				<li><i class="fa fa-search"></i></li>
				<li><i class="fa fa-user"></i></li>
				<li><i class="fa fa-bell"></i></li>
			</ul>
		</div>

	
	<!----------------------------- This Healp page-------------------->
	<div id="Help" class="w3-modal w3-animate-opacity">
		<div class="w3-modal-content" style="padding:32px">
			<div class="w3-container w3-white">
			<i onclick="document.getElementById('Help').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
			<h2 class="w3-center">Help page</h2>
			<br>
			<br>
			<p style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif"> 
			As a user, you can interact with the featured content in several ways.
			Either interact to a post by clicking on the "Like" button or one of the various alternatives such as "Reply" or "Share".</p> 
			<p style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif">
				You can also share a post on the platform and write comments on previously published posts.</p>
			<p style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif">
				If you are not familiar with the microblog interaction icons, see the list below for an explanation of each one.</p>
				<ul class="w3-center">
					<li>
						<i class="fa fa-comment"><b style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif"> Reply </b> Comment the post </i>
					</li>
					<li>
						<i class="fa fa-retweet"><b style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif"> Retweet </b> Share the post to your friends </i>
					</li>
					<li>
						<i class="fa fa-heart"><b style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif"> Like </b> Like the post </i>
					</li>
					<li>
						<i class="fa fa-share"><b style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif"> Share </b> Send the post by private message </i>
					</li>
					<li>
						<i class="fa fa-ban"><b style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif"> Block </b> Block the author of the post </i>
					</li>
					<li>
						<i class="fa fa-user-plus"><b style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif"> Follow </b> Follow the author </i>
					</li>
				</ul>
			<p style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif">
				You may have noticed that some features characteristic of a microblog have not been implemented because they are not relevant to
				 the current study. Nevertheless, these sections are correctly labeled.</p> 
			</div>
		</div>
		</div>


</div> 


<!-------------------------------------- JS .......................................................................................-->

<!-------------------------------------- Uncreated section ..........................-->
<div id="uncreated_section" class="w3-modal">
	<div class="w3-modal-content  w3-animate-left" style="padding:10px">
		<div class="w3-container w3-white">
		<i onclick="document.getElementById('uncreated_section').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
		<h2 class="</li>">Uncreated section</h2>
		<p> </p>
		<p> </p>
		<p> </p>
		
		<p style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif"><img src="https://emoji.gg/assets/emoji/7908_OOPS.png" width="100px" height="100px" alt="OOPS">This section was not implemented since it's not relevant to this study.</p> 
		</div>
	</div>
  </div>

  <!-------------------------------------...................-->


  <!-------------------------------------- Uncreated section ..........................-->
<div id="irrelevant_option" class="w3-modal">
	<div class="w3-modal-content  w3-animate-left" style="padding:10px">
		<div class="w3-container w3-white">
		<i onclick="document.getElementById('irrelevant_option').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
		<h2 class="w3-center">Irrelevant Option</h2>
		<p> </p>
		<p> </p>
		<p> </p>
		
		<p style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif"><a href="https://emoji.gg/emoji/7908_OOPS"><img src="https://emoji.gg/assets/emoji/7908_OOPS.png" width="100px" height="100px" alt="OOPS"></a> This option was not implemented since it's not relevant to this study.</p> 
		</div>
	</div>
  </div>
  <!-------------------------------------...................-->

<!------------------------------------- Comment option...................-->


<div id="comment" class="w3-modal">
	<div class="w3-modal-content  w3-animate-left" style="padding:10px">
		<div class="w3-container w3-white">
		<i onclick="document.getElementById('comment').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
		<h2 class="w3-center"></h2>

			<form action="/add_reply" method="post">
			<div>
			  <textarea  rows="4" cols="100" id = "comment_content" name = "comment"  maxlength="280" placeholder ="Write a comment..."></textarea>
			</div>
			<div>
				<ul class="add-tweet-icon">
					<input type="submit" value = "Cheep"  class="link-tweet" ><span></span></li>
				</ul>
			</div>
		</form>
		</div>
		</div>
	</div>
  </div>


  
    <!-- Pop up window -->
    <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
		
			<div class="modal-body">
			  <h5 style="text-align: center;"> This page would like your permission to track your navigation during your participation in the study.</h5>
			  <p style="text-align: center;">Your data will be used only for the study context presented.
				Please note that the posts on this page are automatically generated.</p>
			</div>
			<div class="modal-footer">
				 <input type="checkbox" id="age" value="1"> I confirm that I'm at least 18 years old.</label> 

				<button type="button" id="ok_consent" class="w3-button w3-green" disabled>OK</button>
				<button type="button"  class="w3-button w3-red" onclick="window.location='home'">Dont allow</button>
			</div>
			</div>
		</div>
		</div>








  <!-- ----------------------------------------------->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type=text/javascript>
/// POP UP de consentimento
$(document).ready(function() {

if (localStorage.getItem('consent') == null) {
   $('#popup').modal({backdrop: 'static', keyboard: false});
	

  $('#ok_consent').on('click', function (e) {
    $('#popup').modal('hide');
    
    localStorage.setItem('consent', true);
    
  });
} 

$('#age').click(function() {
   //If the checkbox is checked.
   if ($(this).is(':checked')) {
		$('#ok_consent').prop('disabled', false);
	} else {
		$('#ok_consent').prop('disabled', true);
	}
})

})
</script>

<!-- Increments the number of the button when an interaction append-->
<script>
	
	var add = (function (a) {

	  var counter = parseInt(document.getElementById(a).innerHTML , 10);

	  return function () {return counter += 1;}

	})();
	
	function increment(id){
		var x = id.concat('-num')
		var counter = parseInt(document.getElementById(x).innerHTML , 10);
		
	  document.getElementById(x).innerHTML =counter + 1;
	}
	</script>


<script type=text/javascript>
 
	function interaction(clicked_id) { 
		$.get('add_interaction', clicked_id);
	} 
</script>


<!-- Increments the button when an interaction append-->
<script type=text/javascript>
 
	function increment_interaction(id,atual_number) { 
		$.get('add_interaction', atual_number);
	} 
</script>


<script type=text/javascript>
	// Esta funçao vai permitir adicionar o id do post a comentar em sessão. 
	  function update_session_comment_post(id_post) { 
		  $.get('update_session', id_post);
	  } 


  </script>



{% endblock %}


