{% extends "base.html" %}

{% block content %}

<div class="w3-container">

    <!-- The Grid -->
    <div class="w3-row">
     <div class="w3-col m3">
     <br>
 <!-- End Left Column -->
     </div>

 <!-- Middle Column -->
     <div class="w3-col m6" >
   
<h1 class="w3-center">About this work</h1>
        
        <p  style="text-align: justify;text-justify: inter-word">   This platform is part of an academic project, taking place at the <b>University of Minho - Portugal </b> </p>
        
    

</div>

</div>
</div>
    </div>

<br>

{% endblock content %}