{% extends "base.html" %}

{% block content %}

<div class="w3-container w3-white w3-padding-32">

<!-- The Grid -->
<div class="w3-row">
<div class="w3-col m3">
<br>
<!-- End Left Column -->
</div>

<!-- Middle Column -->
<div class="w3-col m6" >

<div class="w3-container">
 <p class="w3-large" style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif"> Welcome to this project! On this platform we want to collect data, in order to understand human opinion in relation to posts generated autonomously by an intelligent algorithm. 
     We're going to present you with some posts, and ask you to interact with them in the way that feels right to you. </p>
     <div class="w3-center">
        <button class="w3-button  w3-black w3-round-xxlarge" onclick="document.getElementById('about').style.display='block'">About</button>  
        <br>
        <br>
        <p><button class="w3-button  w3-black w3-round-xxlarge" onclick="document.getElementById('Instructions').style.display='block'">Instructions</button></p>
    </div>

</div>
</div>
    </div>

<br>
<!-- This work page-->
<div id="about" class="w3-modal w3-animate-opacity">
<div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
    <i onclick="document.getElementById('about').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
    <h2 class="w3-center">About this work</h2>
    <p style="text-align: justify;text-justify: inter-word;  font-family: Arial, Helvetica, sans-serif">This platform is part of an academic project, taking place at the University of Minho - Portugal, whose purpose is to obtain an algorithm capable of generating Posts (messages that are published on a website) awakening Feelings and interacting with the Personality of users.
        The use of social networking and online communication has been growing exponentially over the past few years. 
        In 2021, 56.8% of the world's population has a profile in at least one social media. 
        Consequently, the spread of fake news had a proportional growth. Thus, there was a need to validate information that appears online, which promoted the emergence of agencies that are dedicated exclusively to this task. However, a post referring to a credible fact-validation entity does not guarantee its reading. More is needed. 
        The reality is that most of the time this type of publication is overlooked and the information it contains, sometimes valuable, escapes the user. 
        It is essential to change this trend. 
        In this project, it will be used the introduction of feelings in the Posts and the analysis of the readers personality, in order to arouse interest, promote interaction and a greater acceptance of the published content. 
            This platform, is intended to be the starting point for this study, allowing to collect data, 
            enabling the identification of trends regarding the decisions of users of a social media when confronted with a given publication. </p> 
    </div>
</div>
</div>

<div id="Instructions" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:32px">
        <div class="w3-container w3-white">
        <i onclick="document.getElementById('Instructions').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
        <h2 class="w3-center">Instructions</h2>
        <p style="text-align: justify;text-justify: inter-word">Explicar como usar o site  </p> 
        </div>
    </div>
    </div>
</div>


{% endblock content %}